nf/.nextflow/
nf/nextflow*
nf/work/
.nextflow*
.ipynb_checkpoints

radseq_cloud/ruber-ipyrad-out/ruber_reduced_denovo.vcf
ipyrad_out/ruber_denovo_clust_0.9/DGM_258.clustS.gz
ipyrad_out/ruber_denovo_clust_0.9/JQR_172.clustS.gz
ipyrad_out/ruber_denovo_clust_0.9/MCB_284.clustS.gz
ipyrad_out/ruber_denovo_clust_0.9/s3_cluster_stats.txt
ipyrad_out/ruber_denovo_clust_0.9/s4_joint_estimate.txt
ipyrad_out/ruber_denovo_clust_0.9/SD_Field_0201.clustS.gz
ipyrad_out/ruber_denovo_clust_0.9/SD_Field_0255.clustS.gz
ipyrad_out/ruber_denovo_clust_0.9/SD_Field_0386.clustS.gz
ipyrad_out/ruber_denovo_clust_0.9/SD_Field_0491.clustS.gz
ipyrad_out/ruber_denovo_clust_0.9/SD_Field_0492.clustS.gz
ipyrad_out/ruber_denovo_clust_0.9/SD_Field_0493.clustS.gz
ipyrad_out/ruber_denovo_clust_0.9/SD_Field_0506.clustS.gz
ipyrad_out/ruber_denovo_clust_0.9/SD_Field_0557.clustS.gz
ipyrad_out/ruber_denovo_clust_0.9/SD_Field_0598.clustS.gz
ipyrad_out/ruber_denovo_clust_0.9/SD_Field_0599.clustS.gz
ipyrad_out/ruber_denovo_clust_0.9/SD_Field_0642.clustS.gz
ipyrad_out/ruber_denovo_clust_0.9/SD_Field_0666.clustS.gz
ipyrad_out/ruber_denovo_clust_0.9/SD_Field_0983.clustS.gz
ipyrad_out/ruber_denovo_clust_0.9/SD_Field_1079.clustS.gz
ipyrad_out/ruber_denovo_clust_0.9/SD_Field_1205.clustS.gz
ipyrad_out/ruber_denovo_clust_0.9/SD_Field_1220.clustS.gz
ipyrad_out/ruber_denovo_clust_0.9/SD_Field_1225.clustS.gz
ipyrad_out/ruber_denovo_clust_0.9/SD_Field_1226.clustS.gz
ipyrad_out/ruber_denovo_clust_0.9/SD_Field_1381.clustS.gz
ipyrad_out/ruber_denovo_clust_0.9/SD_Field_1453.clustS.gz
ipyrad_out/ruber_denovo_clust_0.9/SD_Field_1545.clustS.gz
ipyrad_out/ruber_denovo_clust_0.9/SD_Field_1878.clustS.gz
ipyrad_out/ruber_denovo_clust_0.9/SD_Field_1880.clustS.gz
ipyrad_out/ruber_denovo_clust_0.9/SD_Field_1899.clustS.gz
ipyrad_out/ruber_denovo_clust_0.9/SD_Field_1961.clustS.gz
ipyrad_out/ruber_denovo_clust_0.9/SD_Field_1988.clustS.gz
ipyrad_out/ruber_denovo_clust_0.9/SD_Field_1991.clustS.gz
ipyrad_out/ruber_denovo_clust_0.9/SD_Field_2127.clustS.gz
ipyrad_out/ruber_denovo_clust_0.9/SD_Field_2287.clustS.gz
ipyrad_out/ruber_denovo_clust_0.9/SD_Field_2383.clustS.gz
ipyrad_out/ruber_denovo_clust_0.9/SD_Field_2427.clustS.gz
ipyrad_out/ruber_denovo_clust_0.9/SD_Field_2789.clustS.gz
ipyrad_out/ruber_denovo_clust_0.9/SD_Field_2914.clustS.gz
ipyrad_out/ruber_denovo_clust_0.9/SD_Field_2968.clustS.gz
ipyrad_out/ruber_denovo_clust_0.9/SD_Field_3027.clustS.gz
ipyrad_out/ruber_denovo_clust_0.9/SD_Field_3124.clustS.gz
ipyrad_out/ruber_denovo_clust_0.9/TWR_747.clustS.gz
ipyrad_out/ruber_denovo_consens/DGM_258.catg.hdf5
ipyrad_out/ruber_denovo_consens/DGM_258.consens.gz
ipyrad_out/ruber_denovo_consens/JQR_172.catg.hdf5
ipyrad_out/ruber_denovo_consens/JQR_172.consens.gz
ipyrad_out/ruber_denovo_consens/MCB_284.catg.hdf5
ipyrad_out/ruber_denovo_consens/MCB_284.consens.gz
ipyrad_out/ruber_denovo_consens/s5_consens_stats.txt
ipyrad_out/ruber_denovo_consens/SD_Field_0201.catg.hdf5
ipyrad_out/ruber_denovo_consens/SD_Field_0201.consens.gz
ipyrad_out/ruber_denovo_consens/SD_Field_0255.catg.hdf5
ipyrad_out/ruber_denovo_consens/SD_Field_0255.consens.gz
ipyrad_out/ruber_denovo_consens/SD_Field_0386.catg.hdf5
ipyrad_out/ruber_denovo_consens/SD_Field_0386.consens.gz
ipyrad_out/ruber_denovo_consens/SD_Field_0491.catg.hdf5
ipyrad_out/ruber_denovo_consens/SD_Field_0491.consens.gz
ipyrad_out/ruber_denovo_consens/SD_Field_0492.catg.hdf5
ipyrad_out/ruber_denovo_consens/SD_Field_0492.consens.gz
ipyrad_out/ruber_denovo_consens/SD_Field_0493.catg.hdf5
ipyrad_out/ruber_denovo_consens/SD_Field_0493.consens.gz
ipyrad_out/ruber_denovo_consens/SD_Field_0506.catg.hdf5
ipyrad_out/ruber_denovo_consens/SD_Field_0506.consens.gz
ipyrad_out/ruber_denovo_consens/SD_Field_0557.catg.hdf5
ipyrad_out/ruber_denovo_consens/SD_Field_0557.consens.gz
ipyrad_out/ruber_denovo_consens/SD_Field_0598.catg.hdf5
ipyrad_out/ruber_denovo_consens/SD_Field_0598.consens.gz
ipyrad_out/ruber_denovo_consens/SD_Field_0599.catg.hdf5
ipyrad_out/ruber_denovo_consens/SD_Field_0599.consens.gz
ipyrad_out/ruber_denovo_consens/SD_Field_0642.catg.hdf5
ipyrad_out/ruber_denovo_consens/SD_Field_0642.consens.gz
ipyrad_out/ruber_denovo_consens/SD_Field_0666.catg.hdf5
ipyrad_out/ruber_denovo_consens/SD_Field_0666.consens.gz
ipyrad_out/ruber_denovo_consens/SD_Field_0983.catg.hdf5
ipyrad_out/ruber_denovo_consens/SD_Field_0983.consens.gz
ipyrad_out/ruber_denovo_consens/SD_Field_1079.catg.hdf5
ipyrad_out/ruber_denovo_consens/SD_Field_1079.consens.gz
ipyrad_out/ruber_denovo_consens/SD_Field_1205.catg.hdf5
ipyrad_out/ruber_denovo_consens/SD_Field_1205.consens.gz
ipyrad_out/ruber_denovo_consens/SD_Field_1220.catg.hdf5
ipyrad_out/ruber_denovo_consens/SD_Field_1220.consens.gz
ipyrad_out/ruber_denovo_consens/SD_Field_1225.catg.hdf5
ipyrad_out/ruber_denovo_consens/SD_Field_1225.consens.gz
ipyrad_out/ruber_denovo_consens/SD_Field_1226.catg.hdf5
ipyrad_out/ruber_denovo_consens/SD_Field_1226.consens.gz
ipyrad_out/ruber_denovo_consens/SD_Field_1381.catg.hdf5
ipyrad_out/ruber_denovo_consens/SD_Field_1381.consens.gz
ipyrad_out/ruber_denovo_consens/SD_Field_1453.catg.hdf5
ipyrad_out/ruber_denovo_consens/SD_Field_1453.consens.gz
ipyrad_out/ruber_denovo_consens/SD_Field_1545.catg.hdf5
ipyrad_out/ruber_denovo_consens/SD_Field_1545.consens.gz
ipyrad_out/ruber_denovo_consens/SD_Field_1878.catg.hdf5
ipyrad_out/ruber_denovo_consens/SD_Field_1878.consens.gz
ipyrad_out/ruber_denovo_consens/SD_Field_1880.catg.hdf5
ipyrad_out/ruber_denovo_consens/SD_Field_1880.consens.gz
ipyrad_out/ruber_denovo_consens/SD_Field_1899.catg.hdf5
ipyrad_out/ruber_denovo_consens/SD_Field_1899.consens.gz
ipyrad_out/ruber_denovo_consens/SD_Field_1961.catg.hdf5
ipyrad_out/ruber_denovo_consens/SD_Field_1961.consens.gz
ipyrad_out/ruber_denovo_consens/SD_Field_1988.catg.hdf5
ipyrad_out/ruber_denovo_consens/SD_Field_1988.consens.gz
ipyrad_out/ruber_denovo_consens/SD_Field_1991.catg.hdf5
ipyrad_out/ruber_denovo_consens/SD_Field_1991.consens.gz
ipyrad_out/ruber_denovo_consens/SD_Field_2127.catg.hdf5
ipyrad_out/ruber_denovo_consens/SD_Field_2127.consens.gz
ipyrad_out/ruber_denovo_consens/SD_Field_2287.catg.hdf5
ipyrad_out/ruber_denovo_consens/SD_Field_2287.consens.gz
ipyrad_out/ruber_denovo_consens/SD_Field_2383.catg.hdf5
ipyrad_out/ruber_denovo_consens/SD_Field_2383.consens.gz
ipyrad_out/ruber_denovo_consens/SD_Field_2427.catg.hdf5
ipyrad_out/ruber_denovo_consens/SD_Field_2427.consens.gz
ipyrad_out/ruber_denovo_consens/SD_Field_2789.catg.hdf5
ipyrad_out/ruber_denovo_consens/SD_Field_2789.consens.gz
ipyrad_out/ruber_denovo_consens/SD_Field_2914.catg.hdf5
ipyrad_out/ruber_denovo_consens/SD_Field_2914.consens.gz
ipyrad_out/ruber_denovo_consens/SD_Field_2968.catg.hdf5
ipyrad_out/ruber_denovo_consens/SD_Field_2968.consens.gz
ipyrad_out/ruber_denovo_consens/SD_Field_3027.catg.hdf5
ipyrad_out/ruber_denovo_consens/SD_Field_3027.consens.gz
ipyrad_out/ruber_denovo_consens/SD_Field_3124.catg.hdf5
ipyrad_out/ruber_denovo_consens/SD_Field_3124.consens.gz
ipyrad_out/ruber_denovo_consens/TWR_747.catg.hdf5
ipyrad_out/ruber_denovo_consens/TWR_747.consens.gz
ipyrad_out/ruber_denovo_edits/DGM_258.trimmed_R1_.fastq.gz
ipyrad_out/ruber_denovo_edits/JQR_172.trimmed_R1_.fastq.gz
ipyrad_out/ruber_denovo_edits/MCB_284.trimmed_R1_.fastq.gz
ipyrad_out/ruber_denovo_edits/s2_rawedit_stats.txt
ipyrad_out/ruber_denovo_edits/SD_Field_0201.trimmed_R1_.fastq.gz
ipyrad_out/ruber_denovo_edits/SD_Field_0255.trimmed_R1_.fastq.gz
ipyrad_out/ruber_denovo_edits/SD_Field_0386.trimmed_R1_.fastq.gz
ipyrad_out/ruber_denovo_edits/SD_Field_0491.trimmed_R1_.fastq.gz
ipyrad_out/ruber_denovo_edits/SD_Field_0492.trimmed_R1_.fastq.gz
ipyrad_out/ruber_denovo_edits/SD_Field_0493.trimmed_R1_.fastq.gz
ipyrad_out/ruber_denovo_edits/SD_Field_0506.trimmed_R1_.fastq.gz
ipyrad_out/ruber_denovo_edits/SD_Field_0557.trimmed_R1_.fastq.gz
ipyrad_out/ruber_denovo_edits/SD_Field_0598.trimmed_R1_.fastq.gz
ipyrad_out/ruber_denovo_edits/SD_Field_0599.trimmed_R1_.fastq.gz
ipyrad_out/ruber_denovo_edits/SD_Field_0642.trimmed_R1_.fastq.gz
ipyrad_out/ruber_denovo_edits/SD_Field_0666.trimmed_R1_.fastq.gz
ipyrad_out/ruber_denovo_edits/SD_Field_0983.trimmed_R1_.fastq.gz
ipyrad_out/ruber_denovo_edits/SD_Field_1079.trimmed_R1_.fastq.gz
ipyrad_out/ruber_denovo_edits/SD_Field_1205.trimmed_R1_.fastq.gz
ipyrad_out/ruber_denovo_edits/SD_Field_1220.trimmed_R1_.fastq.gz
ipyrad_out/ruber_denovo_edits/SD_Field_1225.trimmed_R1_.fastq.gz
ipyrad_out/ruber_denovo_edits/SD_Field_1226.trimmed_R1_.fastq.gz
ipyrad_out/ruber_denovo_edits/SD_Field_1381.trimmed_R1_.fastq.gz
ipyrad_out/ruber_denovo_edits/SD_Field_1453.trimmed_R1_.fastq.gz
ipyrad_out/ruber_denovo_edits/SD_Field_1545.trimmed_R1_.fastq.gz
ipyrad_out/ruber_denovo_edits/SD_Field_1878.trimmed_R1_.fastq.gz
ipyrad_out/ruber_denovo_edits/SD_Field_1880.trimmed_R1_.fastq.gz
ipyrad_out/ruber_denovo_edits/SD_Field_1899.trimmed_R1_.fastq.gz
ipyrad_out/ruber_denovo_edits/SD_Field_1961.trimmed_R1_.fastq.gz
ipyrad_out/ruber_denovo_edits/SD_Field_1988.trimmed_R1_.fastq.gz
ipyrad_out/ruber_denovo_edits/SD_Field_1991.trimmed_R1_.fastq.gz
ipyrad_out/ruber_denovo_edits/SD_Field_2127.trimmed_R1_.fastq.gz
ipyrad_out/ruber_denovo_edits/SD_Field_2287.trimmed_R1_.fastq.gz
ipyrad_out/ruber_denovo_edits/SD_Field_2383.trimmed_R1_.fastq.gz
ipyrad_out/ruber_denovo_edits/SD_Field_2427.trimmed_R1_.fastq.gz
ipyrad_out/ruber_denovo_edits/SD_Field_2789.trimmed_R1_.fastq.gz
ipyrad_out/ruber_denovo_edits/SD_Field_2914.trimmed_R1_.fastq.gz
ipyrad_out/ruber_denovo_edits/SD_Field_2968.trimmed_R1_.fastq.gz
ipyrad_out/ruber_denovo_edits/SD_Field_3027.trimmed_R1_.fastq.gz
ipyrad_out/ruber_denovo_edits/SD_Field_3124.trimmed_R1_.fastq.gz
ipyrad_out/ruber_denovo_edits/TWR_747.trimmed_R1_.fastq.gz
ipyrad_out/ruber_denovo_fastqs/DGM_258_R1_.fastq.gz
ipyrad_out/ruber_denovo_fastqs/JQR_172_R1_.fastq.gz
ipyrad_out/ruber_denovo_fastqs/MCB_284_R1_.fastq.gz
ipyrad_out/ruber_denovo_fastqs/s1_demultiplex_stats.txt
ipyrad_out/ruber_denovo_fastqs/SD_Field_0201_R1_.fastq.gz
ipyrad_out/ruber_denovo_fastqs/SD_Field_0255_R1_.fastq.gz
ipyrad_out/ruber_denovo_fastqs/SD_Field_0386_R1_.fastq.gz
ipyrad_out/ruber_denovo_fastqs/SD_Field_0491_R1_.fastq.gz
ipyrad_out/ruber_denovo_fastqs/SD_Field_0492_R1_.fastq.gz
ipyrad_out/ruber_denovo_fastqs/SD_Field_0493_R1_.fastq.gz
ipyrad_out/ruber_denovo_fastqs/SD_Field_0506_R1_.fastq.gz
ipyrad_out/ruber_denovo_fastqs/SD_Field_0557_R1_.fastq.gz
ipyrad_out/ruber_denovo_fastqs/SD_Field_0598_R1_.fastq.gz
ipyrad_out/ruber_denovo_fastqs/SD_Field_0599_R1_.fastq.gz
ipyrad_out/ruber_denovo_fastqs/SD_Field_0642_R1_.fastq.gz
ipyrad_out/ruber_denovo_fastqs/SD_Field_0666_R1_.fastq.gz
ipyrad_out/ruber_denovo_fastqs/SD_Field_0983_R1_.fastq.gz
ipyrad_out/ruber_denovo_fastqs/SD_Field_1079_R1_.fastq.gz
ipyrad_out/ruber_denovo_fastqs/SD_Field_1205_R1_.fastq.gz
ipyrad_out/ruber_denovo_fastqs/SD_Field_1220_R1_.fastq.gz
ipyrad_out/ruber_denovo_fastqs/SD_Field_1225_R1_.fastq.gz
ipyrad_out/ruber_denovo_fastqs/SD_Field_1226_R1_.fastq.gz
ipyrad_out/ruber_denovo_fastqs/SD_Field_1381_R1_.fastq.gz
ipyrad_out/ruber_denovo_fastqs/SD_Field_1453_R1_.fastq.gz
ipyrad_out/ruber_denovo_fastqs/SD_Field_1545_R1_.fastq.gz
ipyrad_out/ruber_denovo_fastqs/SD_Field_1878_R1_.fastq.gz
ipyrad_out/ruber_denovo_fastqs/SD_Field_1880_R1_.fastq.gz
ipyrad_out/ruber_denovo_fastqs/SD_Field_1899_R1_.fastq.gz
ipyrad_out/ruber_denovo_fastqs/SD_Field_1961_R1_.fastq.gz
ipyrad_out/ruber_denovo_fastqs/SD_Field_1988_R1_.fastq.gz
ipyrad_out/ruber_denovo_fastqs/SD_Field_1991_R1_.fastq.gz
ipyrad_out/ruber_denovo_fastqs/SD_Field_2127_R1_.fastq.gz
ipyrad_out/ruber_denovo_fastqs/SD_Field_2287_R1_.fastq.gz
ipyrad_out/ruber_denovo_fastqs/SD_Field_2383_R1_.fastq.gz
ipyrad_out/ruber_denovo_fastqs/SD_Field_2427_R1_.fastq.gz
ipyrad_out/ruber_denovo_fastqs/SD_Field_2789_R1_.fastq.gz
ipyrad_out/ruber_denovo_fastqs/SD_Field_2914_R1_.fastq.gz
ipyrad_out/ruber_denovo_fastqs/SD_Field_2968_R1_.fastq.gz
ipyrad_out/ruber_denovo_fastqs/SD_Field_3027_R1_.fastq.gz
ipyrad_out/ruber_denovo_fastqs/SD_Field_3124_R1_.fastq.gz
ipyrad_out/ruber_denovo_fastqs/TWR_747_R1_.fastq.gz
ipyrad_out/ruber_denovo.json
ipyrad_out/ruber_only_denovo_across/ruber_only_denovo_clust_database.fa
ipyrad_out/ruber_only_denovo_across/ruber_only_denovo-0-catcons.gz
ipyrad_out/ruber_only_denovo_across/ruber_only_denovo-0-cathaps.fa
ipyrad_out/ruber_only_denovo_across/ruber_only_denovo-0-catshuf.fa
ipyrad_out/ruber_only_denovo_across/ruber_only_denovo-0-catsort.fa
ipyrad_out/ruber_only_denovo_across/ruber_only_denovo-0.htemp
ipyrad_out/ruber_only_denovo_across/ruber_only_denovo-0.utemp
ipyrad_out/ruber_only_denovo_across/ruber_only_denovo-0.utemp.sort
ipyrad_out/ruber_only_denovo_outfiles/ruber_only_denovo_stats.txt
ipyrad_out/ruber_only_denovo_outfiles/ruber_only_denovo.alleles
ipyrad_out/ruber_only_denovo_outfiles/ruber_only_denovo.geno
ipyrad_out/ruber_only_denovo_outfiles/ruber_only_denovo.gphocs
ipyrad_out/ruber_only_denovo_outfiles/ruber_only_denovo.loci
ipyrad_out/ruber_only_denovo_outfiles/ruber_only_denovo.migrate
ipyrad_out/ruber_only_denovo_outfiles/ruber_only_denovo.nex
ipyrad_out/ruber_only_denovo_outfiles/ruber_only_denovo.phy
ipyrad_out/ruber_only_denovo_outfiles/ruber_only_denovo.seqs.hdf5
ipyrad_out/ruber_only_denovo_outfiles/ruber_only_denovo.snps
ipyrad_out/ruber_only_denovo_outfiles/ruber_only_denovo.snps.hdf5
ipyrad_out/ruber_only_denovo_outfiles/ruber_only_denovo.snpsmap
ipyrad_out/ruber_only_denovo_outfiles/ruber_only_denovo.str
ipyrad_out/ruber_only_denovo_outfiles/ruber_only_denovo.treemix
ipyrad_out/ruber_only_denovo_outfiles/ruber_only_denovo.ugeno
ipyrad_out/ruber_only_denovo_outfiles/ruber_only_denovo.usnps
ipyrad_out/ruber_only_denovo_outfiles/ruber_only_denovo.ustr
ipyrad_out/ruber_only_denovo_outfiles/ruber_only_denovo.vcf
ipyrad_out/ruber_only_denovo.json
ipyrad_out/ruber_reduced_denovo_outfiles/ruber_reduced_denovo_stats.txt
ipyrad_out/ruber_reduced_denovo_outfiles/ruber_reduced_denovo.alleles
ipyrad_out/ruber_reduced_denovo_outfiles/ruber_reduced_denovo.geno
ipyrad_out/ruber_reduced_denovo_outfiles/ruber_reduced_denovo.gphocs
ipyrad_out/ruber_reduced_denovo_outfiles/ruber_reduced_denovo.loci
ipyrad_out/ruber_reduced_denovo_outfiles/ruber_reduced_denovo.migrate
ipyrad_out/ruber_reduced_denovo_outfiles/ruber_reduced_denovo.nex
ipyrad_out/ruber_reduced_denovo_outfiles/ruber_reduced_denovo.phy
ipyrad_out/ruber_reduced_denovo_outfiles/ruber_reduced_denovo.seqs.hdf5
ipyrad_out/ruber_reduced_denovo_outfiles/ruber_reduced_denovo.snps
ipyrad_out/ruber_reduced_denovo_outfiles/ruber_reduced_denovo.snps.hdf5
ipyrad_out/ruber_reduced_denovo_outfiles/ruber_reduced_denovo.snpsmap
ipyrad_out/ruber_reduced_denovo_outfiles/ruber_reduced_denovo.str
ipyrad_out/ruber_reduced_denovo_outfiles/ruber_reduced_denovo.treemix
ipyrad_out/ruber_reduced_denovo_outfiles/ruber_reduced_denovo.ugeno
ipyrad_out/ruber_reduced_denovo_outfiles/ruber_reduced_denovo.usnps
ipyrad_out/ruber_reduced_denovo_outfiles/ruber_reduced_denovo.ustr
ipyrad_out/ruber_reduced_denovo_outfiles/ruber_reduced_denovo.vcf
ipyrad_out/ruber_reduced_denovo.json
names_ruber_reduced.txt
params-ruber_denovo.txt
params-ruber_only_denovo.txt
params-ruber_reduced_denovo.txt
radseq_cloud/ruber_data/all_ruber.fastq.gz
radseq_cloud/ruber_data/barcodes_samples.txt
radseq_cloud/ruber_data/Localities.csv
radseq_cloud/ruber_data/names_ruber_all.txt
radseq_cloud/ruber_data/names_ruber_reduced.txt
radseq_cloud/ruber-ipyrad-out/ruber_reduced_denovo_stats.txt
radseq_cloud/ruber-ipyrad-out/ruber_reduced_denovo.alleles
radseq_cloud/ruber-ipyrad-out/ruber_reduced_denovo.geno
radseq_cloud/ruber-ipyrad-out/ruber_reduced_denovo.gphocs
radseq_cloud/ruber-ipyrad-out/ruber_reduced_denovo.loci
radseq_cloud/ruber-ipyrad-out/ruber_reduced_denovo.migrate
radseq_cloud/ruber-ipyrad-out/ruber_reduced_denovo.nex
radseq_cloud/ruber-ipyrad-out/ruber_reduced_denovo.phy
radseq_cloud/ruber-ipyrad-out/ruber_reduced_denovo.seqs.hdf5
radseq_cloud/ruber-ipyrad-out/ruber_reduced_denovo.snps
radseq_cloud/ruber-ipyrad-out/ruber_reduced_denovo.snps.hdf5
radseq_cloud/ruber-ipyrad-out/ruber_reduced_denovo.snpsmap
radseq_cloud/ruber-ipyrad-out/ruber_reduced_denovo.str
radseq_cloud/ruber-ipyrad-out/ruber_reduced_denovo.treemix
radseq_cloud/ruber-ipyrad-out/ruber_reduced_denovo.ugeno
radseq_cloud/ruber-ipyrad-out/ruber_reduced_denovo.usnps
radseq_cloud/ruber-ipyrad-out/ruber_reduced_denovo.ustr
